.logo {
    height: 40px;
    }
.top-header {
    background-color: $violet-dark
}
.nav-link {
    color: $white;
    &:hover {
        color: $white;
    }
}
#categoria-filtro {
    list-style: none;
    padding-left: 0;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: .625rem;
}